# Languages

## Python
build
dist
sendgrid_django.egg-info
.pyc
.eggs
venv
.idea
.DS_Store
.python-version
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so


# Distribution
*.egg-info/


# Testing

## Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/


# Local environments

## dotenv
.env

## direnv
.direnv/
.envrc

## virtualenv
venv/
ENV/
