language: python
sudo: false
env:
  - DJANGO_VERSION=1.10.4
  - DJANGO_VERSION=1.9.12
  - DJANGO_VERSION=1.8.17
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly" # currently points to 3.7-dev
install:
  - pip install -e .
  - pip install -q Django==$DJANGO_VERSION
  - pip install -rrequirements-dev.txt
  - pip install codecov
script:
  - make coverage
after_success:
  - codecov
